@import "./font-face.css";

:root {
  --font-regular: 2rem;
  --font-small: 1.6rem;
  --color-primary: #2c3e50;
}

* {
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font: 14px/20px "Graphik Web Light", Arial, Verdana, sans-serif;
  text-align: center;
  color: var(--color-primary);
}

main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  min-height: 48px;
  background: var(--color-primary);
  color: white;
  font-size: var(--font-regular);
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.5);
}

.today {
  flex: 1 0 auto;
  font-size: var(--font-regular);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 55vh;
}

.day {
  font-size: 2rem;
  font-weight: bolder;
  padding-bottom: 2rem;
}

#today-temp {
  font-size: 4rem;
  font-weight: bold;
  position: relative;
  top: 1rem;
  left: 11rem;
}

#temp {
  position: relative;
  top: 1.4rem;
  left: 4rem;
  font-size: 2rem;
  font-weight: bolder;
}

#today-icon {
  font-size: 16rem;
  padding: 0 0 0.15em 0;
}

.details {
  padding-top: 1rem;
  font-size: 1.2rem;
}

.forecast-details {
  padding-top: 0.25em;
  font-size: 1rem;
}

.description {
  padding-top: 1rem;
  text-transform: capitalize;
}

.icon {
  font-size: 4rem;
}

#aside {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  font-size: var(--font-small);
}

[class^="forecast"] {
  color: white;
  flex: 1;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 25vh;
}

.forecast-1 {
  background-color: #16a085;
}

.forecast-2 {
  background-color: #27ae60;
}

.forecast-3 {
  background-color: #2980b9;
}

.forecast-4 {
  background-color: #8e44ad;
}

@media screen and (max-width: 736px) {
  #aside {
    flex-direction: column;
  }

  html,
  body {
    font: 12px/18px "Graphik Web Light", Arial, Verdana, sans-serif;
  }
}
